---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="IP DATA SEARCHER">
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>IP Data Searcher</title>
		</head>
		
		<body>
			<h1 class="text-white font-bold text-6xl text-center p-20">IP DATA SEARCHER</h1>
		
			<main class="mx-auto items-center text-center ">
					<form id="form" class="text-white">

						<label class="">
							IP:
							<input class="text-black" required id="input" type="text" 
							placeholder="Introduce la IP">
							<small class="grid">Por ejemplo: 54.192.189.0</small>
						</label>

			
						<button type="submit" id="submit" class="grid p-4 mx-auto bg-sky-500 font-bold 
						hover:bg-sky-700 hover:scale-110 transition-all duration-500 ">
							Buscar información de esta IP
						</button>
						
					</form>

				<div class="bg-white text-black">
					<pre id="results"></pre>
				</div>
			</main>
		</body>
		</html>
</Layout>
